@import "./components/*"

@import url('https://fonts.googleapis.com/css?family=Raleway:300')

body
    background linear-gradient(to right, #348AC7, #7474BF)
    color white
    font-family 'Raleway', sans-serif
    text-align center
    letter-spacing 1.5px

    h1
        margin-top 50vh
        font-size 2rem
