// @import "../node_modules/bootstrap/dist/css/bootstrap.min.css"
// @import "../node_modules/bootstrap-vue/dist/bootstrap-vue.css"

@import "../node_modules/buefy/lib/buefy.css";

@import "./components/*"
